html {
    scroll-behavior: smooth;
}

body {
    background-color: #2B2727 !important;
    font-family: 'Roboto', sans-serif !important;
    width: 100% !important;
}

.navbar {
    background-color: #1a1a1a;
    padding: 0px;
}

.navbar ul li {
    padding: 8px 30px 8px 30px;
    border-left: solid 1px rgba(255, 255, 255, 0.1) !important;
}

.navbar ul li a {
    font-size: 1.3em;
    color: white;
}

#navbrnd {
    color: white;
    font-weight: 400;
    font-size: 39px;
    padding-left: 20px;
}